$ctl-bg-hover-primary-color: #e4edf8;
$ctl-bg-active-primary-color: #bdc9d8;
$ctl-border-primary-color: #0d5cc4;

$ctl-border-secondary-color: #b3aeae;
$pnl-bg-secondary-color: #f8f6f6;
$pnl-border-secondary-color: #b3aeae;

.btn {
    padding: 0.3rem 0.7rem;
    border: solid 1px $ctl-border-secondary-color;
    border-radius: 2px;
    font-size: medium;
}

.window {
    background-color: $pnl-bg-secondary-color;
    border-radius: 3px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    border: solid 1px $pnl-border-secondary-color;
    width: 400px;
    transition: all 0.3s;
    box-shadow: 0 3px 3px #6161614d;

    > .title {

        > h1 {
            margin: 0;
            margin-bottom: 1.2rem;
            box-shadow: 0 2px $ctl-border-primary-color, inset 0 -0.6em $ctl-bg-active-primary-color;
            display: inline-block;
        }

    }

    > .form {

        > label.field-label {
            display: block;
            margin-bottom: 0.3rem;
            
            +.field-value {
                width: 100%;
                margin-bottom: 0.8rem;
            }

            +textarea {
                resize: vertical;
                border-color: $ctl-border-secondary-color;
            }
            +textarea:focus {
                outline: none;
                border-color: $ctl-border-primary-color;
                box-shadow: 0 0 0 1px $ctl-border-primary-color;
            }

            +input[type=file]:focus {
                outline-color: $ctl-border-primary-color;
            }
        }

        > button.btn-primary {
            border-color: $ctl-border-primary-color;
            color: $ctl-border-primary-color;
        }
        > button.btn-primary:hover {
            background-color: $ctl-bg-hover-primary-color;
        }
        > button.btn-primary:focus {
            outline: none;
            box-shadow: 0 0 0 1px $ctl-border-primary-color;
        }
        > button.btn-primary:active {
            background-color: $ctl-bg-active-primary-color;
        }
    }
}

.window:hover {
    box-shadow: 0 5px 15px #61616186;
    transform: translateY(-3px);
}