<app-window header="Start Page">
    <form class="form" [formGroup]="form" (ngSubmit)="openMoneyLogger()">
        <label class="field-label" for="credential">Creadential:</label>
        <input class="field-value" id="credential" type="file" (change)="onFileOpened($event)"/>
        
        <label class="field-label" for="speadsheet-url">Spreadsheet Url:</label>
        <textarea class="field-value" id="speadsheet-url" rows="5" formControlName="spreadsheetUrl"></textarea>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Open</button>
        <app-spinner [visible]="isOpening"></app-spinner>
    </form>
</app-window>
