$ctl-bg-hover-primary-color: #e4edf8;
$ctl-bg-active-primary-color: #bdc9d8;
$ctl-border-primary-color: #0d5cc4;

$ctl-border-secondary-color: #b3aeae;
$pnl-border-secondary-color: #b3aeae;

$pnl-bg-color: #f8f6f6;
