.form {
    > label.field-label {
        display: block;
        margin-bottom: 0.3rem;
        
        +.field-value {
            width: 100%;
            margin-bottom: 0.8rem;
        }

        +textarea {
            resize: vertical;
            border-color: $ctl-border-secondary-color;
        }
        +textarea:focus {
            outline: none;
            border-color: $ctl-border-primary-color;
            box-shadow: 0 0 0 1px $ctl-border-primary-color;
        }

        +input[type=file]:focus {
            outline-color: $ctl-border-primary-color;
        }
    }
}
