@import '../../../../styles/color-variables.scss';

.window {
    background-color: $pnl-bg-color;
    border-radius: 3px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    border: solid 1px $pnl-border-secondary-color;
    transition: all 0.3s;
    box-shadow: 0 3px 3px #6161614d;

    > .title {

        > h1 {
            margin: 0;
            margin-bottom: 1.2rem;
            box-shadow: 0 2px $ctl-border-primary-color, inset 0 -0.6em $ctl-bg-active-primary-color;
            display: inline-block;
        }

    }
}

.window:hover {
    box-shadow: 0 5px 15px #61616186;
    transform: translateY(-3px);
}
