@import '../../../../../styles/color-variables.scss';
@import '../../../../../styles/table.scss';
@import '../../../../../styles/button.scss';

.log-table {
    margin: 0 auto;
    margin-bottom: 1em;

    td {
        height: 1em;
        padding: 0;
    }

    .log-cell {
        >input {
            padding: 0.4em;
            border: none;
            border-radius: 0;
            background-color: transparent;
        }
        >input:hover {
            background-color: darken($pnl-bg-color, 5%);
        }
        >input:focus {
            outline: none;
            background-color: darken($pnl-bg-color, 5%);
        }
    }

    .description>input {
        width: 10em;
    }

    .cost>input {
        width: 2em;
    }

}

.total {
    text-align: center;
    margin-bottom: 1em;
}

.actions {
    text-align: center;
}
